.course-card {
  border-radius: 14px;
  padding: 10px;
  background-color: var(--table);

  & .course-name {
    font-weight: 600;
  }
}

.course-card:hover {
  cursor: pointer;
  background-color: var(--hover);
}
