.add-course-btn {
  padding: 10px;
  background-color: var(--table);
  color: var(--text-2);
  border-radius: 14px;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
