.create-button {
  border: none;
  border-radius: 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  padding: 10px 10px;
  background-color: var(--table);
  color: var(--text-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.create-button:hover {
  background-color: var(--hover-2);
}

.create-list {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 200px;
  border-radius: 5px;
  border: 1px solid var(--hover);
  list-style: none;
  font-size: 12px;
  background-color: var(--table);
  color: var(--text-2);
  padding: 5px;
  position: absolute;
  box-shadow: 10px 10px 21px -12px rgba(0, 0, 0, 0.75);
  transition: visibility 0s, opacity 0.3s ease-in-out;

  li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: visibility 0s;
    transition: all 0.5s ease-in-out;

    svg {
      max-width: 15px;
    }
  }

  li:hover {
    background-color: var(--hover);
  }
}

.create-button:focus + .create-list {
  visibility: visible;
  opacity: 1;
}
