.login-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 2fr;

  .illustration-section {
    position: relative;
    padding: 20px 30px;

    .text-container {
      display: flex;
      flex-direction: column;
      z-index: 2;

      .logo {
        font-size: 40px;
        font-weight: 600;
      }

      .description {
        font-size: 24px;
        font-weight: 200;
        color: var(--text-4);
      }
    }

    .meeting-illustration {
      max-height: 450px;
      z-index: 1;
    }

    .wave-illustration {
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.login-section {
  display: flex;
  padding: 50px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
  background-color: var(--table);

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      font-size: 16px;
    }

    .input-data {
      height: 32px;
      border: 0.01em solid var(--text-4);
      color: var(--text-4);
      border-radius: 10px;
      font-size: 14px;
      margin-bottom: 30px;
      outline: none;
      padding: 0 8px;
    }

    .error-message {
      color: var(--error);
    }

    input[type="submit"] {
      margin-top: 20px;
      height: 32px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      color: var(--table);
      background-color: var(--selection);
    }
  }
}

@media (max-width: 600px) {
  .login-container {
    grid-template-columns: 1fr;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.fade-in-left {
  -webkit-animation: fade-in-left 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s
    both;
  animation: fade-in-left 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
