.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  max-height: 90vh;
  max-width: 70vw;
  min-width: 320px;
  padding: 20px;
  background-color: var(--table);
  border-radius: 20px;
  position: relative;

  & .close-button {
    position: absolute;
    display: grid;
    place-content: center;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: none;
    transition: all 0.2s ease-in-out;

    & svg {
      max-width: 18px;
      stroke: var(--icon-1);
    }
  }

  & .close-button:hover {
    background-color: var(--hover);
  }

  & .form {
    display: flex;
    padding: 20px 0 0 0;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;

    & label {
      font-weight: 400;
      color: var(--text-3);
    }

    & .input-data,
    input {
      width: 100%;
      height: 32px;
      border: none;
      border-bottom: 1px solid var(--hover);
      background-color: var(--table);
      color: var(--text-1);
      margin-bottom: 15px;
      outline: none;
      padding: 0 8px;
    }

    & .input-data.error {
      color: var(--error);
      border: 2px solid;
    }
  }

  & .buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & button,
    input[type="submit"] {
      width: fit-content;
      padding: 0 15px;
      height: 32px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background-color: var(--selection);
      color: var(--button-text);
    }

    & .cancel-btn {
      background-color: transparent;
      color: var(--text-3);
    }

    & .delete-btn {
      background-color: var(--red);
    }

    & .hide-btn {
      pointer-events: none;
      opacity: 40%;
    }

    & .error-message {
      color: var(--error);
      padding: 0 10px;
    }
  }

  & .table {
    padding: 0;
  }

  & .add-entry {
    .entry-info {
      display: flex;
      gap: 15px;

      input[type="date"] {
        max-width: 200px;
      }
    }

    & .items-container {
      max-height: 40vh;
      overflow-y: scroll;
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 20px;
      align-items: center;
      gap: 5px 15px;
      padding: 15px 0;

      & button {
        border-radius: 10px;
        background: transparent;
        width: fit-content;
        color: var(--text-3);
      }

      & .add-item {
        padding: 8px;
        background-color: var(--hover);
      }
    }

    & .total {
      display: flex;
      gap: 20px;
      justify-content: end;
      padding: 15px 0;
      border-top: 1px solid var(--hover);
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.items-container::-webkit-scrollbar {
  width: 8px;
}

.items-container::-webkit-scrollbar-track {
  background: var(--table);
  border-radius: 3px;
}

.items-container::-webkit-scrollbar-thumb {
  background: var(--icon-1);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .items-container {
    scrollbar-color: var(--background) var(--icon-1);
  }
}
