.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 20px;
  background-color: var(--table);
  border-radius: 20px;

  .table-name {
    font-size: 22px;
    font-weight: 600;
  }

  .table-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: end;

    .search-bar {
      width: 250px;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 6px;
      background-color: var(--hover);
      color: var(--text-1);
    }
  }

  .table-tools {
    display: flex;

    justify-content: end;
    flex-wrap: wrap;

    button {
      display: flex;
      padding: 0 8px;
      align-items: center;
      justify-content: left;
      color: var(--text-2);
      font-size: 12px;
      font-weight: 400;
      border-radius: 5px;
      background: var(--table);
      transition: all 0.2s ease-in-out;
      user-select: none;
    }

    button:hover {
      background-color: var(--hover);
    }

    button svg {
      max-width: 18px;
      stroke: var(--icon-1);
    }

    button.hide-option {
      pointer-events: none;
      opacity: 40%;
    }
  }

  .table-content {
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .row.header th {
      font-weight: normal;
      color: var(--text-2);
      text-align: start;
    }

    .row {
      min-height: 40px;
      border-top: 0.01em var(--hover) solid;
      display: grid;
      align-items: center;
      gap: 20px;

      td {
        max-height: 100%;
        overflow: hidden;

        svg {
          max-width: 18px;
        }
      }
    }

    .row.modificacion {
      grid-template-columns: 0.5fr 2fr 1fr;
    }

    .row.cuenta {
      grid-template-columns: 80px 3fr 0.5fr;

      td:nth-child(1) {
        text-align: end;
      }
    }

    .row.user {
      grid-template-columns: 20px 6fr 2fr;
    }

    .row.admin-user {
      grid-template-columns: 1fr 2fr 2fr;
    }

    .row.user-2 {
      grid-template-columns: 1fr 1fr;
    }

    .row.student {
      grid-template-columns: 4fr 1fr;
    }

    .row.selected {
      background-color: var(--hover-2);
    }

    .row:not(.header):hover {
      background-color: var(--hover);
      cursor: pointer;
    }

    .row .tipo-cuenta {
      width: 80px;
      margin: 10px;
      text-align: center;
      border-radius: 3px;
    }

    .tipo-cuenta.Acreedor {
      color: var(--green);
      border: 1px solid;
      background-color: #4dfd829c;
    }

    .tipo-cuenta.Deudor {
      color: var(--red);
      border: 1px solid;
      background-color: #f06d6dad;
    }

    .table-list {
      display: flex;
      justify-content: right;
      list-style: none;
      font-size: 14px;

      li {
        color: var(--icon-1);
        cursor: pointer;
        border: 1px solid var(--hover-2);
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        font-weight: 400;
        padding: 0 10px;
      }

      li:hover {
        background-color: var(--hover);
      }

      li.selected {
        background-color: var(--hover);
      }
    }
  }
}

.table-content::-webkit-scrollbar {
  width: 8px;
}

.table-content::-webkit-scrollbar-track {
  background: var(--table);
  border-radius: 3px;
}

.table-content::-webkit-scrollbar-thumb {
  background: var(--icon-1);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .table-content {
    scrollbar-color: var(--background) var(--icon-1);
  }
}
