.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 20px;
  background-color: var(--table);
  border-radius: 20px;

  .table-name {
    font-size: 22px;
    font-weight: 600;
  }

  .table-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: end;

    .search-bar {
      width: 250px;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 6px;
      background-color: var(--hover);
    }

    ul {
      display: flex;
      gap: 0 20px;
      justify-content: end;
      list-style: none;
      flex-wrap: wrap;
    }

    ul li {
      display: flex;
      align-items: center;
      padding: 0 5px;
      gap: 5px;
      color: var(--text-2);
      font-size: 12px;
      font-weight: 400;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      user-select: none;
    }

    ul li:hover {
      background-color: var(--hover);
    }

    ul li svg {
      max-width: 18px;
      stroke: var(--icon-1);
    }

    ul li.hide-option {
      pointer-events: none;
      opacity: 40%;
    }
  }

  .table-content {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .row.header {
      color: var(--text-2);
    }

    .row {
      height: 40px;
      border-top: 0.01em var(--hover) solid;
      display: grid;
      align-items: center;
      grid-template-columns: 2fr 6fr 2fr;
      span {
        padding: 0 6px;
      }
    }
    .row.modificacion {
      grid-template-columns: 0.5fr 6fr 1fr;
    }

    .row.cuenta {
      grid-template-columns: 2fr 6fr 0.5fr;
    }

    .row.selected {
      background-color: var(--hover-2);
    }

    .row:not(.header):hover {
      background-color: var(--hover);
      cursor: pointer;
    }

    .row span.tipo-cuenta {
      width: 80px;
      border: 1px solid;
      margin: 10px;
      text-align: center;
      border-radius: 3px;
    }

    .tipo-cuenta.acreedor {
      color: #007c25;
      background-color: #4dfd829c;
    }

    .tipo-cuenta.deudor {
      color: #b30000;
      background-color: #f06d6dad;
    }
  }
}
